@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
    font-family: "Ubuntu" !important;
}

.currency-up::after {
    content: "\25B2";
    color: var(--success);
}
.currency-down::after {
    content: "\25BC";
    color: var(--danger);
}
